@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
  margin: 0px;
  padding: 2px;

}

body {
  margin: 0;
  padding: 1.5rm;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

html {
  scroll-behavior: smooth;
}

.navbar
{
  height: 5REM;
}

